[project]
name = "deployme"
version = "0.0.1"
description = "minimalistic ML-models auto deployment tool"
authors = [
    {name = "Konstantin Templin", email = "1qnbhd@gmail.com"},
    {name = "Kristina Zheltova", email = "masterkristall@gmail.com"},
    {name = "Semen Zabrodin", email = "semenzabrodin@mail.ru"},
    {name = "Popov Maxim", email = "maximpop1@yandex.ru"}
]
maintainers = [
    {name = "Konstantin Templin", email = "1qnbhd@gmail.com"},
    {name = "Kristina Zheltova", email = "masterkristall@gmail.com"},
    {name = "Semen Zabrodin", email = "semenzabrodin@mail.ru"},
    {name = "Popov Maxim", email = "maximpop1@yandex.ru"}
]
urls = {Repository = "https://github.com/qnbhd/deployme"}
readme = "README.md"
keywords = ["ML", "deploy", "AutoDeploy"]
license = {text = "MIT"}
requires-python = ">=3.7"
dependencies = [
    # TODO (qnbhd)
]
classifiers = [
        "Intended Audience :: Science/Research",
        "Intended Audience :: Developers",
        "Programming Language :: Python :: 3",
        "Programming Language :: Python :: 3.6",
        "Programming Language :: Python :: 3.7",
        "Programming Language :: Python :: 3.8",
        "Programming Language :: Python :: 3.9",
        "Programming Language :: Python :: 3.10",
        "Programming Language :: Python :: 3 :: Only",
        "Topic :: Scientific/Engineering",
        "Topic :: Scientific/Engineering :: Mathematics",
        "Topic :: Scientific/Engineering :: Artificial Intelligence",
        "Topic :: Software Development",
        "Topic :: Software Development :: Libraries",
        "Topic :: Software Development :: Libraries :: Python Modules",
]

[build-system]
requires = [
    "setuptools>=45",
    "wheel"
]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
exclude = ["tests", "docs", "examples"]

[project.optional-dependencies]
#dev = []
#all = []


[tool.black]
line-length = 70
target-version = ['py36']
exclude = '''
/(
  | \.git
  | \.mypy_cache
  | \.venv
  | dist
  | docs
)/
'''

[tool.isort]
profile = 'black'
src_paths = ['deployme', 'tests']
line_length = 70
lines_after_imports = 2
force_single_line = 'True'
force_sort_within_sections = 'True'
order_by_type = 'False'

[tool.pytest.ini_options]
log_cli = true
log_cli_level = "DEBUG"
log_cli_format = "%(asctime)s [%(levelname)8s] %(message)s (%(filename)s:%(lineno)s)"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"
addopts = "--color=yes"

[tool.pydocstyle]
inherit = false
ignore = 'D100,D104,D107,D202,D203,D212,D400,D401,D405,D406,D407,D415'
match = '.*\.py'
