pytest
pytest-cov
pytest-repeat
black
isort
flake8
mypy==0.950
types-requests
types-PyYAML
types-requests
types-setuptools
pylint
hypothesis
flask
pydantic
flask-pydantic
gunicorn
sanic
sanic-ext
joblib
dill
mock-open
sphinx
furo
sphinx-autodoc-typehints
sphinx_git
