.navbar {
  @apply backdrop-blur-md;
  position: fixed;
  z-index: 20;
  width: 100%;
}

.desktopNavbar {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobileNavbar {
  display: none;
  padding-left: 0.5rem;
  composes: container from global;
}

.menuLink {
  display: flex;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  align-items: center;
  font-weight: 700;
}

@media (max-width: 768px) {
  .desktopNavbar {
    display: none;
  }

  .toggle {
    display: block;
    color: white;
    margin: auto 0 auto auto;
  }

  .mobileNavbar {
    display: flex;
    flex-direction: column;
  }

  .mobileNavbar > a {
  }
}
