name: Build wheel & Run User Scenarios

on:
  pull_request:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up python 3.9
        id: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
          cache: 'pip'

      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            pip install -r requirements-dev.txt
            pip install flit

      - name: Build package
        run: flit build

      - name: Install package
        run: pip install dist/*.whl

      - name: Check CLI
        run: |
          mljet about
          mljet version

      - name: Run user examples
        run: |
          pip install scikit-learn xgboost lightgbm catboost

          cd examples

          python sklearn_examples/skl_clf.py
          python catboost_example.py
          python xgboost_example.py
          python lightgbm_example.py
