name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.8", "3.10" ]
    runs-on: ${{ matrix.os }}
    steps:
      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt

      - name: Install supported ML frameworks
        run: pip install scikit-learn xgboost

      #----------------------------------------------
      #              run test suite
      #----------------------------------------------
      - name: Run python tests
        run: |
          pytest --log-level=INFO --cov=deployme --cov-report=xml tests/

      - name: Publish coverage report to Codecov
        uses: codecov/codecov-action@v3
        if: matrix.python-version == '3.8' && matrix.os == 'ubuntu-latest'
        with:
          file: ./coverage.xml
          fail_ci_if_error: true

      - name: Publish coverage to Codacy
        uses: codacy/codacy-coverage-reporter-action@v1.3.0
        if: matrix.python-version == '3.8' && matrix.os == 'ubuntu-latest'
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: ./coverage.xml
